
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.app-footer {
    width: 100%;
    background-color: #333;
    padding: 5px 0;
    text-align: center;
}

/* Базовые стили для навигации */
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 10px 0;
}

/* Стили для кнопок навигации */
.nav-button {
    display: flex;
    flex-direction: column; /* Ставим иконку сверху текста */
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}

    .nav-button:hover {
        color: #FFD700;
    }


/* Стили для иконок */
.icon {
    margin-bottom: 5px; /* Отступ между иконкой и текстом */
    width: 24px;
    height: 24px;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    .navigation {
        flex-direction: row; /* Располагаем навигацию горизонтально */
    }

    .nav-button {
        flex-direction: column; /* Сохраняем иконку сверху текста */
        justify-content: center;
    }
}

.terms {
    font-size: 10px;
    margin-top: 5px;
    color: #AAA;
}

a {
    text-decoration: none;
}