<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="~/css/courses.css">
</head>
<body>
    <div class="courses-container">
        <h1>Доступные курсы</h1>
        <div class="course-item">
            <img src="course-image.jpg" alt="Course Image" class="course-image">
            <div class="course-details">
                <h2>Название курса</h2>
                <p>Краткое описание курса. Здесь можно указать основные моменты и цели обучения.</p>
                <button class="add-button">Добавить</button>
            </div>
        </div>
        <div class="course-item">
            <img src="course-image2.jpg" alt="Course Image" class="course-image">
            <div class="course-details">
                <h2>Название курса 2</h2>
                <p>Краткое описание курса. Здесь можно указать основные моменты и цели обучения.</p>
                <button class="add-button">Добавить</button>
            </div>
        </div>
        <div class="course-item">
            <img src="course-image2.jpg" alt="Course Image" class="course-image">
            <div class="course-details">
                <h2>Название курса 2</h2>
                <p>Краткое описание курса. Здесь можно указать основные моменты и цели обучения.</p>
                <button class="add-button">Добавить</button>
            </div>
        </div>
        <div class="course-item">
            <img src="course-image2.jpg" alt="Course Image" class="course-image">
            <div class="course-details">
                <h2>Название курса 2</h2>
                <p>Краткое описание курса. Здесь можно указать основные моменты и цели обучения.</p>
                <button class="add-button">Добавить</button>
            </div>
        </div>
        <div class="course-item">
            <img src="course-image2.jpg" alt="Course Image" class="course-image">
            <div class="course-details">
                <h2>Название курса 2</h2>
                <p>Краткое описание курса. Здесь можно указать основные моменты и цели обучения.</p>
                <button class="add-button">Добавить</button>
            </div>
        </div>
    </div>
</body>
</html>
